<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

	<bean name="configuration" class="org.builder.eclipsebuilder.beans.Configuration">
		<property name="buildType" value="STABLE" />
		<property name="cacheDir" value="/cached" />
		<property name="eclipseDir" value="/integration" />
	</bean>
	<bean name="webBrowser" class="org.builder.eclipsebuilder.beans.WebBrowser"/>
	<bean name="downloadManager" scope="prototype" class="org.builder.eclipsebuilder.beans.DownloadManager">
		<property name="webBrowser" ref="webBrowser"/>
	</bean>

	<bean name="eclipseSDKPartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="eclipse-SDK"/>
		<property name="downloadPage" value="http://download.eclipse.org/eclipse/downloads/"/>
	</bean>
	<bean name="eclipseEMFSDOXSDSDKPartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="emf-sdo-xsd-SDK"/>
		<property name="downloadPage" value="http://www.eclipse.org/modeling/emf/downloads/"/>
	</bean>
	<bean name="eclipseGEFSDKPartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="GEF-ALL"/>
		<property name="downloadPage" value="http://www.eclipse.org/gef/downloads/"/>
	</bean>
	<bean name="eclipseDTPSDKPartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="dtp"/>
		<property name="downloadPage" value="http://www.eclipse.org/datatools/downloads.php"/>
	</bean>
	<bean name="eclipseBIRTSDKPartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="birt-report-framework"/>
		<property name="downloadPage" value="http://download.eclipse.org/birt/downloads/build_list.php"/>
	</bean>
	<bean name="eclipseTPTPSDKPartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="parts">
			<list>
				<ref bean="eclipseBIRTSDKPartBuilder"/>
			</list>
		</property>
		<property name="artifactId" value="tptp.runtime-TPTP"/>
		<property name="downloadPage" value="http://www.eclipse.org/tptp/home/downloads/"/>
	</bean>
	<bean name="eclipseAgentControlerPartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="agntctrl.win_ia32-TPTP"/>
		<property name="downloadPage" value="http://www.eclipse.org/tptp/home/downloads/"/>
	</bean>

	<bean name="eclipseWTPSDKPartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="parts">
			<list>
				<ref bean="eclipseEMFSDOXSDSDKPartBuilder"/>
				<ref bean="eclipseGEFSDKPartBuilder"/>
				<ref bean="eclipseDTPSDKPartBuilder"/>
			</list>
		</property>
		<property name="artifactId" value="wtp"/>
		<property name="downloadPage" value="http://download.eclipse.org/webtools/downloads/"/>
	</bean>

	<bean name="eclipseAjdtIDEPartBuilder" class="org.builder.eclipsebuilder.beans.ZipFilePartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="ajdt"/>
		<property name="downloadPage" value="http://www.eclipse.org/ajdt/downloads/"/>
	</bean>

	<bean name="eclipseGanymedeJEEPartBuilder" class="org.builder.eclipsebuilder.beans.GanimedeNoP2PartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="eclipse-jee-ganymede"/>
		<property name="downloadPage" value="http://www.eclipse.org/epp/ganymede.php"/>
	</bean>
	<bean name="eclipseGanymedeRCPPartBuilder" class="org.builder.eclipsebuilder.beans.GanimedeNoP2PartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="eclipse-rcp-ganymede"/>
		<property name="downloadPage" value="http://www.eclipse.org/epp/ganymede.php"/>
	</bean>
	<bean name="eclipseNightlyJEEPartBuilder" class="org.builder.eclipsebuilder.beans.EclipseEPPDownloadPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="jee"/>
		<property name="downloadPage" value="http://www.eclipse.org/epp/download.php"/>
	</bean>

	<bean name="fileSyncPartBuilder" class="org.builder.eclipsebuilder.beans.AndreiPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="de.loskutov.FileSync"/>
		<property name="downloadPage" value="http://andrei.gmxhome.de/filesync/links.html"/>
	</bean>
	<bean name="bytecodeOutlinePartBuilder" class="org.builder.eclipsebuilder.beans.AndreiPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="BytecodeOutline"/>
		<property name="downloadPage" value="http://andrei.gmxhome.de/bytecode/links.html"/>
	</bean>
	<bean name="anyEditPartBuilder" class="org.builder.eclipsebuilder.beans.AndreiPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="de.loskutov.anyedit.AnyEditTools"/>
		<property name="downloadPage" value="http://andrei.gmxhome.de/anyedit/links.html"/>
	</bean>
	<bean name="jdependPartBuilder" class="org.builder.eclipsebuilder.beans.AndreiPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="de.loskutov.eclipse.jdepend"/>
		<property name="downloadPage" value="http://andrei.gmxhome.de/jdepend4eclipse/links.html"/>
	</bean>

	<bean name="subclipsePartBuilder" class="org.builder.eclipsebuilder.beans.ZipFilePartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="site"/>
		<property name="downloadPage" value="http://subclipse.tigris.org/servlets/ProjectDocumentList?folderID=2240&amp;expandFolder=2240&amp;folderID=0"/>
		<property name="features"><list><value>org.tigris.subversion.subclipse</value></list></property>
	</bean>
	<bean name="tomcatPluginPartBuilder" class="org.builder.eclipsebuilder.beans.ZipFilePartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="tomcatPlugin"/>
		<property name="downloadPage" value="http://www.eclipsetotale.com/tomcatPlugin.html"/>
	</bean>


	<bean name="findbugsPartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="edu.umd.cs.findbugs.plugin.eclipse"/>
		<property name="downloadPage" value="http://findbugs.sourceforge.net/manual/eclipse.html"/>
	</bean>
	<bean name="checkstylePartBuilder" class="org.builder.eclipsebuilder.beans.CheckstylePartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="com.atlassw.tools.eclipse.checkstyle"/>
		<property name="downloadPage" value="http://sourceforge.net/project/showfiles.php?group_id=80344"/>
	</bean>
	<bean name="pmdPartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="pmd-eclipse-site"/>
		<property name="downloadPage" value="http://sourceforge.net/project/showfiles.php?group_id=56262&amp;package_id=53767"/>
		<property name="features"><list><value>net.sourceforge.pmd.eclipse</value></list></property>
	</bean>

	<bean name="springIDEPartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="spring-ide"/>
		<property name="downloadPage" value="http://springide.org/updatesite/"/>
		<property name="parts"><list><ref bean="eclipseAjdtIDEPartBuilder"/></list></property>
	</bean>
	<bean name="hibernateToolsPartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="HibernateTools"/>
		<property name="downloadPage" value="http://www.hibernate.org/255.html"/>
	</bean>
	<bean name="axis2CodeGenPartBuilder" class="org.builder.eclipsebuilder.beans.ZipFilePartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="axis2-eclipse-codegen-wizard"/>
		<property name="downloadPage" value="http://ws.apache.org/axis2/tools/index.html"/>
	</bean>
	<bean name="xFirePartBuilder" class="org.builder.eclipsebuilder.beans.RemoteSitePartBuilder">
		<property name="features"><list><value>org.codehaus.xfire.eclipse</value></list></property>
		<property name="remoteSite" value="http://dist.codehaus.org/xfire/update/"/>
	</bean>
	<bean name="propeditPartBuilder" class="org.builder.eclipsebuilder.beans.PropEditPartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="jp.gr.java_conf.ussiy.app.propedit_"/>
		<property name="downloadPage" value="http://sourceforge.jp/projects/propedit/files/?release_id=17247"/>
	</bean>
	<bean name="jiglooPluginPartBuilder" class="org.builder.eclipsebuilder.beans.ZipFilePartBuilder">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="jigloo"/>
		<property name="downloadPage" value="http://www.cloudgarden.com/jigloo/dnld_redirect.html"/>
	</bean>

	<bean name="log4eclipsePartBuilder" class="org.builder.eclipsebuilder.beans.PartBuilderHelper">
		<property name="webBrowser" ref="webBrowser"/>
		<property name="downloadManager" ref="downloadManager"/>
		<property name="artifactId" value="log4eclipse"/>
		<property name="downloadPage" value="http://sourceforge.net/project/showfiles.php?group_id=92923&amp;package_id=98452"/>
	</bean>

	<bean name="eclipseBuilder" class="org.builder.eclipsebuilder.beans.EclipseBuilder">
		<property name="configuration" ref="configuration"/>
		<property name="parts">
			<list>
				<!-- Core packages -->
				<!-- 
				<ref bean="eclipseGanymedeJEEPartBuilder"/>
				 -->
				<!-- For developing RCP apps
				<ref bean="eclipseGanymedeRCPPartBuilder"/>

                -->
                <!-- For profiling Java programs
				<ref bean="eclipseTPTPSDKPartBuilder"/>
				<ref bean="eclipseAgentControlerPartBuilder"/>
                -->

				<!--
				<ref bean="fileSyncPartBuilder"/>

				<ref bean="bytecodeOutlinePartBuilder"/>
				<ref bean="anyEditPartBuilder"/>
				<ref bean="jdependPartBuilder"/>
			 	<ref bean="subclipsePartBuilder" />
			 	<ref bean="tomcatPluginPartBuilder"/>

			 	<ref bean="findbugsPartBuilder"/>
			 	<ref bean="checkstylePartBuilder"/>
-->
				<ref bean="pmdPartBuilder"/>
<!--
			 	<ref bean="springIDEPartBuilder"/>

				<ref bean="hibernateToolsPartBuilder" />
				<ref bean="axis2CodeGenPartBuilder" />  -->
				<!-- <ref bean="xFirePartBuilder" /> -->
<!-- 				<ref bean="propeditPartBuilder"/> -->
				<!-- For using Jigloo - Visual editor - a commercial plugin
				<ref bean="jiglooPluginPartBuilder"/>
 	            -->
 	            <!-- bean="log4eclipsePartBuilder"/> --> 
			</list>
		</property>
	</bean>
</beans>